src/main/resources/medicines.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="medicines" type="medicinesType"/>
  <xs:complexType name="analogType">
    <xs:sequence>
      <xs:element type="xs:string" name="analog-name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="certificateType">
    <xs:sequence>
      <xs:element type="xs:string" name="number"/>
      <xs:element type="xs:string" name="issuance"/>
      <xs:element name="expiration">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2050-01-01"/>
            <xs:enumeration value="2023-01-31"/>
            <xs:enumeration value="2021-11-08"/>
            <xs:enumeration value="2023-04-11"/>
            <xs:enumeration value="2023-03-29"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="packageType">
    <xs:sequence>
      <xs:element name="type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="blister"/>
            <xs:enumeration value="bottle"/>
            <xs:enumeration value="tuba"/>
            <xs:enumeration value="ampoule"/>
            <xs:enumeration value="strip"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="number-in-package">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="30"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="20"/>
            <xs:enumeration value="28"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="60"/>
            <xs:enumeration value="24"/>
            <xs:enumeration value="25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="price-per-package"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dosageType">
    <xs:sequence>
      <xs:element type="xs:string" name="drug-dosage"/>
      <xs:element name="reception-multiplicity">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="versionType">
    <xs:sequence>
      <xs:element name="form">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="tablet"/>
            <xs:enumeration value="powder"/>
            <xs:enumeration value="gel"/>
            <xs:enumeration value="injection"/>
            <xs:enumeration value="spray"/>
            <xs:enumeration value="suppository"/>
            <xs:enumeration value="syrup"/>
            <xs:enumeration value="solution for inhalation"/>
            <xs:enumeration value="capsule"/>
            <xs:enumeration value="suspension"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="certificateType" name="certificate"/>
      <xs:element type="packageType" name="package"/>
      <xs:element type="dosageType" name="dosage"/>
      <xs:element type="versionType" name="version" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="medicineType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="pharm"/>
      <xs:element type="xs:string" name="group"/>
      <xs:element type="analogType" name="analog" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="versionType" name="version" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="medicinesType">
    <xs:sequence>
      <xs:element type="medicineType" name="medicine" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>